@charset "UTF-8";
/*
Theme Name: KippGo - Theme Web
Theme URI: https://www.kippgo.com/
Author: Keepin Team
Author URI: https://www.keepinagency.com/
Description: Primera versión del tema para la Web de KippGo-App. Uso exclusivo de Keepin Team 
Version: 0.0.1 
Text Domain: KippGo
WordPress Available:  yes
*/

html{
    font-size: 12pt;
}

/*body {
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 14pt;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
margin-top: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: normal;
color: #333;
}*/

/****** HEADER ******
********************/
.header {
    background-color: #bccc36;
}
.header-menu{
    float: left;
}
.header-menu a{
    text-transform: capitalize;
    font-size: 20px;
    color: #000;
}
.header-menu a:hover{
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(144, 144, 144);
}
.sesion{
    color: #fff !important;
    font-size: 1rem;
}
.bg-butn {
    border-color: #000 !important; 
}
.imglogo{
    width: 100%;
}

/****** HOME ******
******************/
.home-start{
    /*background-image: url(img/KippGo-Kippero.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-ini{
    /*background-image: url(img/KippGo-Kippero.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*height: 80vh;*/
    display: flex;
    justify-content: left;
    align-items: center;
}
.div-form{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
}
.btn-naranja{
    background-color: #bccc36;
    color: #fff;
}
.btn-naranja:hover{
    background-color: #ff8000;
    color: #fff;
}
.ini{
    background-color: rgba(255, 255, 255, 0.8);
    font-style: italic;
}
.ini::placeholder{
    color: #aaa;
    font-size: 0.8em;
}
.input-solicitar {
    font-style: italic;
}
.feat-cont {
    color: rgb(138, 138, 138);
}
.about-linea {
    /*border-bottom: 1px solid #ff8000;*/
    border-bottom: 2px solid #bccc36;
}
.services-titulo{
    color: #ff8000;
}
.services-img {
    height: 40vh;
    /*width: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.services-img:hover {
    transform: scale(1.05);
    transition: all 400ms;
   /*border-radius: 50px;*/
}
.about-title{
    color: #000;
    /*text-transform: capitalize;*/
}
.about-title:hover{
    /*color: rgba(0, 0, 0, 0.5);*/
    text-decoration-line: none;
    color: #bccc36;
}

.services-title{
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    /*text-transform: capitalize;*/
}
.services-title:hover{
    color: rgba(0, 0, 0, 0.5);
}
.services-title-a:hover{
    text-decoration-line: none;
}
/*.services-post{
    text-indent: 2rem;
    text-align: justify;
}*/

.blog-img {
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.blog-img:hover {
    transform: scale(1.03);
    transition: all 300ms;
    /*border-radius: 50px;*/
}
.blog-title{
    color: #000;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.blog-title:hover{
    color: rgba(0, 0, 0, 0.5);
}
.blog-title-a:hover{
    text-decoration-line: none;
}
.blog-post{
    text-indent: 2rem;
    text-align: justify;
}


/****** FOOTER ******
********************/
.footer{
    /*background-color: black;
    background-color: #ff8000;*/
    background-color: #bccc36;
}
.footer-link{
    color: #fff !important;
}
.footer-linea{
    border-bottom:3px solid #fff;
}
.intalogo {
    width: 30px;
}
.faceblogo {
    width: 30px;
}
.twittlogo {
    width: 30px;
}
/***** MENU FOOTER *****
***********************/
.footer-menu a{
    color: #fff;
}
.footer-menu a:hover{
    color: rgb(144, 144, 144);
    text-decoration-line: underline;
}
.footer-by{
    font-size: 0.70rem;
    color: #fff !important;
}
.footer-link{
    font-size: medium;
}

/****** PAGE *******
*******************/
.page-title {
    /*text-transform: capitalize;*/
    color: #000;
}
/*.page-post {
    text-indent: 2rem;
}*/

/************************************
***********  MOBILE  ****************
************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    /****** HEADER ******
    ********************/
    .imglogo{
        width: 100%;
    }

    /****** HOME ********
    ********************/
    .home-start{
        /*background-image: url(img/KippGo-Kippero.jpg);*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-ini{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        /*height: 70vh;*/
    }
    .btn-solicitar {
        font-size: medium;
    }
    .input-solicitar {
        font-style: italic;
        align-content: center;
    } 
    .feat-text {
        font-size: 1.4rem !important;
        text-align: center;
    }
    .services-img {
        height: 40vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .services-post{
        text-indent: 1.5rem;
        text-align: justify;
    }

    /****** FOTTER ******
    ********************/    
    .footer-social{
        padding-top: 8px;
    }
    .footer-menu{
        padding-bottom: 8px;
    }
    .footer-menu a{
        color: #fff;
    }
    .footer-by{
        font-size: 0.75rem;
    }
    .footer-link{
        font-size: large;
    }
    /****** PAGE ******
    ******************/
    .politica{
        font-size: 1.4rem;
    }  
}